files/data/data_small.hdf5 filter=lfs diff=lfs merge=lfs -text
files/data/data_smaller.hdf5 filter=lfs diff=lfs merge=lfs -text
files/data/*.fits filter=lfs diff=lfs merge=lfs -text
files/data/*.rmf filter=lfs diff=lfs merge=lfs -text
